<ion-view title="To-do lists">
	<ion-nav-buttons side="left">
   <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">
	  <ion-list>
	  	<div class="card">
	  		<label class="item item-input">
	  			    <input type="text" placeholder="Add a new list..." ng-model="ctrl.formText">
	  			  </label>
	  				<div class="item tabs tabs-secondary tabs-icon-left">
	  			    <a class="tab-item">
	  			      <i class="icon ion-trash-b"></i>
	  			      Cancel
	  			    </a>
	  			    <a class="tab-item" ng-click="ctrl.addList()">
	  			      <i class="icon ion-checkmark-round"></i>
	  			      Add
	  			    </a>
	  			  </div>
	  	</div>
	  	<div class="card" ng-repeat="list in ctrl.readeableLists | filter:{archive: false}">
	  			  <a class="item" ui-sref="app.todos({todosId: list.$id})">
	  			    {{ list.title }}
	  			  </a>
	  			  <div class="item tabs tabs-secondary tabs-icon-left">
	  			  	<a class="tab-item" ng-click="ctrl.listArchive(list.$id)">
	  			      <i class="icon ion-folder"></i>
	  			      Archive
	  			    </a>
	  			    <a class="tab-item">
	  			      <i class="icon ion-battery-low"></i>
	  			      7 remaining
	  			    </a>
	  			    <a class="tab-item">
	  			      <i class="icon ion-share"></i>
	  			      Share
	  			    </a>
	  			  </div>
	  			</div>
	  </ion-list>

  </ion-content>
</ion-view>
