<ion-view title="Item">
  <ion-content class="has-header">
	  <div class="item">
	    <h2>{{ ctrl.todo.value }}</h2>
	    <p>{{ ctrl.todo.date | date:'mediumDate' }}</p>
	  </div>
    <div class="item item-body" ng-if="ctrl.todo.body">
	    <p>{{ ctrl.todo.body }}</p>
	  </div>
    <div class="item tabs tabs-secondary tabs-icon-left">
	    <a class="tab-item" ng-click="ctrl.checkTodo()">
	      <i class="icon ion-checkmark-round" ng-class="{balanced: ctrl.todo.checked}" ></i>
	      Complete
	    </a>
	    <a class="tab-item">
	      <i class="icon ion-edit"></i>
	      Edit
	    </a>
	    <a class="tab-item" ng-click="ctrl.deleteTodo()">
	      <i class="icon ion-close-round assertive"></i>
	      Delete
	    </a>
	  </div>
  </ion-content>
</ion-view>
